.card {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 34px 0 0 0;
  height: 326px;
  width: 323px;
  border: 1px solid #0000004d;
  border-radius: 3%;
}

.card__name {
  position: absolute;
  top: 15px;
  margin: 0;
  padding: 2px 12px;
  width: 67px;
  height: 20px;
  border-radius: 4px;
  font-family: "Cabinet Grotesk";
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  /* text-align: left; */
  text-align: center;
  color: #00000099;
  background: #fff;
}

.card__image {
  width: 100%;
}
