.main {
  padding: 0 0 80px 0;
}

.cards {
  margin: 40px 0 0 0;
}

.cards__text {
  margin: 0 0 34px 0;
}

.cards__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 20px;
}
