/* .modal__content_type_image {
  padding: 0;
  border: 0;
  max-width: 498px;
  justify-content: center;
} */

.modal__close_type_image {
  color: #fff;
}

.modal__image {
  border-radius: 20px 20px 0 0;
  width: 100%;
  max-height: 498px;
  overflow: hidden;
}

.modal__footer {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 32px 0 32px;
  line-height: 24px;
}

.modal__caption {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}

.modal__weather {
  margin: 0;
  padding: 12px 0 32px 32px;
  font-size: 20px;
  font-weight: 700;
}

.modal__delete-button {
  color: red;
  margin: 0 0 0 auto;
  cursor: pointer;
}
