.sidebar {
  display: flex;
  flex-direction: column;
}

.sidebar__header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.sidebar__username {
  margin: auto 0 auto 16px;
  flex-direction: row;
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  font-weight: 700;
  line-height: 24.8px;
  text-align: left;
}

.sidebar__avatar,
.sidebar__avatar-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: #555;
  text-transform: uppercase;
}

.sidebar__edit-profile,
.sidebar__logout {
  cursor: pointer;
}
