.clothes-section__header {
  display: flex;
  margin: 0;
  flex-direction: row;
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  font-weight: 700;
  line-height: 24.8px;
  text-align: left;
}

.clothes-section__header_text {
  margin: 0 20px 0 0;
}

.clothes-section__header_button {
  margin: 0;
  border: none;
  cursor: pointer;
}

.cards__list {
  justify-content: center;
  margin: 16px 0 0 0;
}
